* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #202020;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    width: 100%;
    height: 100vh;
    max-height: 720px;
    max-width: 320px;
    margin-inline: auto;
    overflow-y: auto;
    background: #f1f1f1;
    color: #191919;
    scrollbar-width: none;
    position: relative;

    .titleGrp {
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
        background-color: #f1f1f1;

        .left {
            display: flex;
            align-items: center;
            gap: .3rem;

            .camera {
                display: flex;
                gap: .2rem;
                background-color: #767676;
                border-radius: 50px;
                padding: .1rem;
                border: 1px solid #000;

                .lens {
                    width: 1rem;
                    aspect-ratio: 1/1;
                    background-color: #191919;
                    border-radius: 50%;
                    border: 1px solid #c7c7c7;
                }
            }

            p {
                font-size: .9rem;
            }
        }

        .right {
            .icons {
                display: flex;
                align-items: center;
                gap: .2rem;


                .signal {
                    width: 1rem;
                }

                svg {
                    width: 1.5rem;
                    aspect-ratio: 1/1;
                }
            }
        }

    }

    .mainContent {
        width: 100%;

        .contactTitle {
            background-color: #f1f1f1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // position: sticky;
            // top: 0px;
            padding: .5rem 1rem;

            .add {
                font-weight: 600;
                padding: .2rem;
                border: none;
                outline: none;
                border-radius: .2rem;
                scale: 1;
                transition: scale .5s ease;
            }

            .add:active {
                scale: 1.3;
            }
        }

        .contactTile {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: .5rem 1rem;
            background-color: aliceblue;
            border-block: 1px solid;

            img{
                width: 2.5rem;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
                outline: 2px solid #202020;
                outline-offset: 2px;
            }

            .info {
                .contactName {
                    font-weight: 600;
                }
            }
        }
    }

    .module {
        width: 100%;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #20202047;
        backdrop-filter: blur(5px);
        padding: 1rem;
        flex-direction: column;

        .close {
            width: fit-content;
            align-self: flex-end;
        }

        .formGrp {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #ebebeb;
                padding: 1rem;
                border-radius: .5rem;

                label + input {
                    margin-top: .2rem;
                }
                input {
                    margin-bottom: .5rem;
                    padding: .5rem;
                }

                button {
                    padding: .2rem .5rem;
                    width: fit-content;
                    align-self: center;
                }
            }
        }

    }
}

@media (min-width: 330px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #root {
        height: calc(100vh - 2.5rem);
        border-radius: 1.5rem;
        border: 5px solid #959595;

        .titleGrp {
            display: flex;
            border-bottom: 1px solid #959595;
        }

        .mainContent {
            .contactTitle {
                top: 41px;
            }
        }

        .module {
            top: 41px;
        }
    }
}